[submodule "include/cpp-HyperLogLog"]
	path = include/cpp-HyperLogLog
	url = https://github.com/hideo55/cpp-HyperLogLog
[submodule "include/DYNAMIC"]
	path = include/DYNAMIC
	url = https://github.com/xxsds/DYNAMIC.git
[submodule "include/hopscotch-map"]
	path = include/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
